/** Reader note - in a normal project, I would make this more dynamic, through the use of including Bootstrap's SASS file,
and making use of more separate CSS files. However, time is of the essence! */
@font-face {
  font-family: Pluto;
  src: url(../../fonts/PlutoBold.eot);
  src: url(../../fonts/PlutoBold.woff2) format("woff2"), url(../../fonts/PlutoBold.woff) format("woff"), url(../../fonts/PlutoBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }
html, body {
  font-family: "Source Sans Pro", sans-serif;
  background: #FFF;
  color: #FF6A70; }

a {
  color: #464664; }
  a:hover, a:focus {
    text-decoration: none; }

h1 {
  font-size: 30px;
  color: #464664;
  font-weight: 300; }

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 18px;
  line-height: 18px; }

/* Reusables */
.clr-prim {
  color: #FF6A70; }

.clr-sec {
  color: #464664; }

.clr-sgrey {
  color: #F5F6F7; }

.clr-indigo {
  color: #babad4; }

.section-pad {
  padding: 40px 0; }

.mgn-right-sm {
  margin-right: 10px; }

.mgn-right-md {
  margin-right: 18px; }

.mgn-right-lg {
  margin-right: 40px; }

.logo {
  text-decoration: none;
  border: none;
  font-family: "Pluto", "Georgia", serif;
  line-height: 30px; }
  .logo.logo-primary .logo-text {
    color: #FF6A70; }
  .logo .logo-text {
    color: #FFF;
    text-transform: lowercase;
    font-size: 16px;
    margin-top: 2px;
    display: inline-block; }
  .logo .logo-img {
    float: left;
    vertical-align: bottom;
    margin-right: 10px; }

ul.features, ul.features li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul.features {
  overflow: hidden;
  float: right; }
  ul.features li {
    margin: 0 10px; }
    ul.features li .count {
      padding-left: 2px; }

/* Header */
#main-header, #main-content, #main-footer {
  padding: 18px 0; }

#main-header {
  padding: 10px 0;
  background-color: #434362;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
  #main-header a {
    color: #FFF; }
    #main-header a:not(.btn):active, #main-header a:not(.btn):hover, #main-header a:not(.btn):focus {
      color: #FF6A70;
      background: transparent; }
  #main-header #navbar {
    float: right;
    /* Override Bootstrap styles - wouldn't be necessary with bootstrap SASS file included */ }
    #main-header #navbar .navbar-nav > li > .btn {
      padding: 7px 14px; }
    #main-header #navbar > .navbar-nav {
      margin: 0;
      padding: 0; }
      #main-header #navbar > .navbar-nav .fa {
        color: #FF6A70;
        padding-left: 6px;
        font-weight: normal; }
      #main-header #navbar > .navbar-nav > li > a:not(.btn) {
        padding: 0 18px;
        line-height: 36px;
        font-size: 15px;
        font-weight: normal; }
      #main-header #navbar > .navbar-nav .dropdown-menu a {
        color: #FF6A70; }
        #main-header #navbar > .navbar-nav .dropdown-menu a:hover {
          color: #464664; }
  #main-header .navbar-toggle {
    margin: 0; }
    #main-header .navbar-toggle .icon-bar {
      background-color: #FFF; }
  #main-header .nav-btn {
    margin-left: 10px; }

/* Content */
.item-grid .item-block {
  /* Excuse my not using mixins for stuff like this */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 18px; }
  .item-grid .item-block .block-img {
    width: 100%; }
  .item-grid .item-block .block-caption {
    line-height: 34px;
    padding: 6px 18px;
    position: relative; }
    .item-grid .item-block .block-caption .price {
      position: absolute;
      color: #FFF;
      top: -100%;
      left: auto;
      line-height: 34px;
      font-weight: bold;
      font-size: 24px;
      display: block; }

/* Footer */
#main-footer {
  background: #FFF; }
  #main-footer #footer-nav {
    background-color: #F5F6F7; }
    #main-footer #footer-nav .link-list {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #main-footer #footer-nav .link-list li {
        list-style-type: none;
        padding: 0;
        line-height: 22px;
        color: #464664;
        font-size: 14px; }
        #main-footer #footer-nav .link-list li a:hover {
          color: #FF6A70; }
  #main-footer #footer-bot {
    position: relative;
    background-color: #FFF;
    line-height: 30px;
    /* To have the text line up with the logo despite the logo's slightly off center horizontal axis */ }
    #main-footer #footer-bot p {
      padding: 0;
      margin: 0;
      color: #464664; }
    #main-footer #footer-bot .inline-btn-list {
      padding: 0;
      margin: 0 70px 0 0;
      text-align: right;
      list-style-type: none; }
      #main-footer #footer-bot .inline-btn-list li {
        display: inline-block;
        padding: 0;
        margin: 0 10px; }
      #main-footer #footer-bot .inline-btn-list a {
        font-size: 20px;
        text-decoration: none; }
    #main-footer #footer-bot a {
      color: #464664; }
      #main-footer #footer-bot a:hover {
        color: #FF6A70; }
    #main-footer #footer-bot .logo {
      float: left;
      margin: 0 40px 0 0;
      margin-top: -2px; }
    #main-footer #footer-bot .back-to-top {
      float: right;
      display: inline-block;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      background-color: #FF6A70;
      color: #FFF;
      width: 50px;
      height: 50px;
      font-size: 24px;
      text-align: center;
      line-height: 48px; }
      #main-footer #footer-bot .back-to-top:hover {
        background-color: #464664;
        color: #FFF;
        transition: 0.3s; }

/* Buttons */
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 14px; }
  .btn.btn-primary {
    border: 1px solid transparent;
    /* To match up button sizes */
    background: linear-gradient(180deg, #FF8F93 0%, #FF767B 100%); }
    .btn.btn-primary:hover {
      background: linear-gradient(180deg, #ff8084 0%, #ff5354 100%); }
  .btn.btn-border {
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF; }
    .btn.btn-border:hover {
      background: rgba(255, 255, 255, 0.1); }

/* Responsiveness */
@media (max-width: 767px) {
  #main-header .nav-btn {
    margin-left: 0;
    margin-bottom: 6px; }
  #main-header #navbar {
    width: 100%;
    float: none; }
    #main-header #navbar > .navbar-nav .dropdown-menu a:hover {
      color: #FFF; }

  .item-grid .item-block {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto; }

  #main-footer {
    text-align: center; }
    #main-footer #footer-bot .inline-btn-list {
      margin-top: 34px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center; }
    #main-footer #footer-bot .logo {
      display: inline-block;
      margin: 0 auto;
      float: left;
      width: auto; }
    #main-footer #footer-bot .back-to-top {
      text-align: center;
      margin-top: 34px;
      display: inline-block;
      float: none; } }
@media (max-width: 991px) {
  #main-header #navbar > .navbar-nav > li > a:not(.btn) {
    padding: 0 6px; }

  #main-footer #footer-bot .logo {
    float: none; } }
@media (max-width: 1199px) {
  #main-footer #footer-nav .link-list {
    margin-bottom: 34px; } }

/*# sourceMappingURL=app.css.map */
