/** Reader note - in a normal project, I would make this more dynamic, through the use of including Bootstrap's SASS file,
and making use of more separate CSS files. However, time is of the essence! */

$pad-tny: 6px;
$pad-sm: 10px;
$pad-md: 18px;
$pad-mlg: 34px;
$pad-lg: 40px;

$btn-xpad: 14px;
$btn-ypad: 7px;

$primary-color: #FF6A70;
$secondary-color: #464664;

$indigo: #babad4;

$white: #FFF;
$black: #000;

$subtle-grey: #F5F6F7;

$pluto: 'Pluto', 'Georgia', serif;
$sourceSans: "Source Sans Pro", sans-serif;

@font-face{font-family:Pluto;src:url(../../fonts/PlutoBold.eot);src:url(../../fonts/PlutoBold.woff2) format("woff2"),url(../../fonts/PlutoBold.woff) format("woff"),url(../../fonts/PlutoBold.ttf) format("truetype");font-weight:700;font-style:normal}

html, body {
  font-family: $sourceSans;
  background: #FFF;
  color: $secondary-color;
}

a {
  color: $secondary-color;
  &:hover, &:focus {text-decoration: none;}
}

h1 {
  font-size: 30px;
  color: $secondary-color;
  font-weight: 300;
}

h5 {
  color: $primary-color;
  font-family: $sourceSans;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: $pad-md;
  line-height: 18px;
}

/* Reusables */

.clr-prim {
  color: $primary-color;
}
.clr-sec {
  color: $secondary-color;
}
.clr-sgrey {
  color: $subtle-grey;
}
.clr-indigo {
  color: $indigo;
}
.section-pad {
  padding: $pad-lg 0;
}

.mgn-right-sm {
  margin-right: $pad-sm;
}
.mgn-right-md {
  margin-right: $pad-md;
}
.mgn-right-lg {
  margin-right: $pad-lg;
}

.logo {
  text-decoration: none;
  border: none;
  font-family: $pluto;
  line-height: 30px;

  &.logo-primary .logo-text {
    color: $primary-color;
  }

  .logo-text {
    color: $white;
    text-transform: lowercase;
    font-size: 16px;
    margin-top: 2px;
    display: inline-block;
  }
  .logo-img {
    float: left;
    vertical-align: bottom;
    margin-right: $pad-sm;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

ul.features, ul.features li {
  display: inline-block;
  margin: 0; padding: 0;
  list-style-type: none;
}

ul.features {
  overflow: hidden;
  float:right;
  li {
    margin: 0 $pad-sm;
    .count {
      padding-left: 2px;
    }
  }
}

/* Header */

#main-header, #main-content, #main-footer {
  padding:$pad-md 0;
}

#main-header {
  padding:$pad-sm 0;
  background-color: #434362;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

  a {
    color: $white;

    &:not(.btn) {
      &:active, &:hover, &:focus {
        color: $primary-color;
        background: transparent;
      }
    }
  }

  #navbar {
    float:right;

    .navbar-nav > li > .btn { padding: $btn-ypad $btn-xpad; } /* Override Bootstrap styles - wouldn't be necessary with bootstrap SASS file included */

    & > .navbar-nav {
      margin: 0;
      padding: 0;

      .fa { color: $primary-color; padding-left: $pad-tny; font-weight: normal }

      & > li > a:not(.btn) {
        padding: 0 $pad-md; line-height: 36px; font-size: 15px; font-weight: normal;
      }

      .dropdown-menu {
        a {
          color: $primary-color;
          &:hover {color: $secondary-color}
        }
      }
    }
  }

  .navbar-toggle {
    margin: 0;

    .icon-bar {background-color: $white;}
  }

  .nav-btn {
    margin-left: $pad-sm;
  }
}

/* Content */

.item-grid {
  .item-block {
    /* Excuse my not using mixins for stuff like this */
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;

    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.1);

    margin-bottom: $pad-md;

    .block-img {
      width: 100%;
    }

    .block-caption {
      line-height: 34px;
      padding: $pad-tny $pad-md;
      position: relative;

      .price {
        position: absolute;
        color: $white;
        top: -100%;
        left: auto;
        line-height: 34px;
        font-weight: bold;
        font-size: 24px;
        display: block;
      }

      .location i {margin-right: $pad-tny}
    }
  }
}

/* Footer */

#main-footer {
  background: $white;

  #footer-nav {
    background-color: $subtle-grey;

    .link-list {
      list-style-type: none;
      margin: 0; padding: 0;

      li {
        list-style-type: none;
        padding: 0;
        line-height: 22px;
        color: $secondary-color;
        font-size: 14px;

        a {
          &:hover {
            color: $primary-color
          }
        }
      }
    }
  }

  #footer-bot {
    position: relative;
    background-color: $white;
    line-height: 30px;

    p {padding: 0; margin: 0; color: $secondary-color}

    .inline-btn-list {
      padding: 0; margin: 0 70px 0 0;
      text-align: right;
      list-style-type: none;

      li { display: inline-block; padding: 0; margin: 0 $pad-sm; }
      a {
        font-size: 20px;
        text-decoration: none;
      }
    }

    a {
      color: $secondary-color;
      &:hover {
        color: $primary-color;
      }
    }

    /* To have the text line up with the logo despite the logo's slightly off center horizontal axis */
    .logo {
      float: left;
      margin: 0 $pad-lg 0 0;
      margin-top: -2px;
    }

    .back-to-top {
      float: right;
      display: inline-block;

      -webkit-border-radius:30px;
      -moz-border-radius:30px;
      border-radius:30px;

      background-color: $primary-color;
      color: $white;
      width: 50px; height: 50px;

      font-size: 24px; text-align: center;
      line-height: 48px;

      &:hover {
        background-color: $secondary-color; color: $white;
        transition: 0.3s;
      }
    }
  }
}

/* Buttons */

.btn {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;

  padding: $btn-ypad $btn-xpad;

  &.btn-primary {
    border: 1px solid transparent; /* To match up button sizes */
    background: linear-gradient(180deg, #FF8F93 0%, #FF767B 100%);

    &:hover {
      background: linear-gradient(180deg, #ff8084 0%, #ff5354 100%);
    }
  }

  &.btn-border {
    background: transparent;
    color: $white;
    border: 1px solid $white;

    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
}

/* Responsiveness */

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 767px) {
  #main-header {
    .nav-btn {
      margin-left:0;
      margin-bottom:$pad-tny;
    }

    #navbar {
      width: 100%; float: none;

      & > .navbar-nav .dropdown-menu a {
        &:hover {color: $white}
      }
    }
  }

  .item-grid {
    .item-block {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #main-footer {
    text-align: center;

    #footer-bot {
      .inline-btn-list {
        margin-top: $pad-mlg;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
      }
      .logo {
        display: inline-block;
        margin: 0 auto;
        float: left;
        width: auto;

        .logo-img {

        }
      }

      .back-to-top {
        text-align: center;
        margin-top: $pad-mlg;
        display: inline-block;
        float: none;
      }
    }
  }
}

@media (max-width: 991px) {
  #main-header {
    #navbar {
      & > .navbar-nav {
        & > li > a:not(.btn) {
          padding: 0 $pad-tny;
        }
      }
    }
  }

  #main-footer {
    #footer-bot {
      .logo {
        float: none;
      }
    }
  }
}

@media (max-width: 1199px) {

  ul.features {
    li {
      margin: 0 $pad-tny;
    }
  }

  #main-footer {
    #footer-nav {
      .link-list {
        margin-bottom: $pad-mlg;
      }
    }
  }
}